extends _layouts/home

block head_end
	link(rel="stylesheet" href="assets/css/style.css") 

block content
	a(href="/" style="position: absolute; top: 20px; left: 20px;") &lt; Event Page
	.content
		img(src="assets/img/FashionTechLogoROUND_18.svg" style="width: 40%; margin: -100px 50% 20px; left: 50%; transform: translateX(-50%);")
		div(style="text-align: center; margin-bottom: -60px; justify-content: space-around;").flex-row
			h1 Welcome to 5th Annual Fashion/Tech Hackathon!
			//- a(href='https://boxcast.tv/view/fashion-tech-hackathon-opening-ceremony-248843').btn Opening Ceremony
			a(href='https://fashion-tech-hackathon.devpost.com/').btn View Devpost
			//- a(href='https://boxcast.tv/view/fashion-tech-hackathon-closing-ceremony-896054').btn Closing Ceremony
	.schedule.content-container
		.content
			.flex-row
				.half-col
					h2 Event Wifi
					h3 SSID: KSUevent
					h3 Password: ksuhack19
					br
					h2 Lost and Found
					h3 1st floor library
					br
					h2 Showers
					h3 Head to the KSU Rec Center and show your lanyard + badge. Towels are available in the lower level. See the bus info below.
					br
					h2 Need Help?
					h3 Come to the 1st floor library.


				.half-col
					h2 Announcements
					h3 Join our Slack team for announcements. You can also post messages to get help or find other teammates.
					br
					//- a(href="https://join.slack.com/t/fashtechhack/shared_invite/enQtMzA1Mjk1OTkxNDkxLWMyYTA5YmM5MmFhZGNhYWQ2YmMzZmJhZmZjNTc2NmViOWY1YThkYjBkZTRjZGFmZWJjNGQyYjExZDBiN2MzYWQ") Click Here to Join our Slack Workspace

			.flex-row
				.half-col
					h2 How to Get Around Campus
					h3 There's several events during the hackathon that take place at verious locations around campus. While walking is always an option, the Kent State PARTA bus system is a great way to travel. Routes 53 and 58 will most likely be the ones you need. Use the Spot PARTA website below to help plan your trip. If you have any specific questions, check with someone in the 1st floor library.

				.half-col
					a(href="https://www.google.com/maps/dir/Rockwell+Hall,+Hilltop+Drive,+Kent,+OH/KSU+Recreation+%26+Wellness+Center,+Kent,+OH+44243/@41.1482445,-81.3499449,16z/data=!3m1!4b1!4m17!4m16!1m5!1m1!1s0x8831252894285db1:0xa6a329176edb2c08!2m2!1d-81.3499335!2d41.152762!1m5!1m1!1s0x88313accd5c4e89f:0x18a4a0a0618554d8!2m2!1d-81.339755!2d41.14293!2m2!4e3!5e0!3e3") Bus Route to the Rec Center (Showers)
					br
					a(href="https://www.google.com/maps/dir/Rockwell+Hall,+515+Hilltop+Dr,+Kent,+OH+44240/Schwartz+Center,+East+Summit+Street,+Kent,+OH/@41.1502197,-81.3514053,17z/data=!3m1!4b1!4m17!4m16!1m5!1m1!1s0x8831252894285db1:0xa6a329176edb2c08!2m2!1d-81.3499335!2d41.152762!1m5!1m1!1s0x8831252e371d8a73:0xe816ae08cd82a8e6!2m2!1d-81.3479638!2d41.1468776!2m2!4e3!5e0!3e3") Bus Route to SPARK Innovation Studio
					br
					a(href="http://www.spotparta.com/") Find a different route



	

block body_end
	script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
	script(type="text/javascript" src="assets/js/live.js")
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-87218305-1', 'auto');
		ga('send', 'pageview');