.about.content-container
	.content.flex-col
		h1 Help redefine the future of fashion
		.scroll-box
			p Hackathons are the new way to push the boundaries of what you know and learn what you don't. They provide an environment to learn, explore, and engage to complete a project with a set amount of time. Students spend 36 hours building a project of their choice, such an app or a garment, while getting support from mentors and sponsors. Participants meet companies looking to hire while getting their hands on the latest tech. Students are given the opportunity to solve problems they see in the world by utilizing fashion and technology.
		a(href='/apply.html' target="_blank").btn Apply Now
		a(href='/live.html').btn Live Event Info
	.fabric.one

script.
	(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()

