.faq.content-container
	.content.flex-col
		h1 Frequently Asked Questions
		div.flex-row
			div.half-col
				h2 What is a hackathon?
				p A hackathon is a weekend long event where students from all majors can develop a project (like an app or website) with the best resources and mentors to learn.
			div.half-col
				h2 Who can attend?
				p University students. Both undergraduate and graduate students may participate. Others who wish to be involved may come and mentor. Minors are encouraged to attend, but they must email us (fashtechhack@kent.edu) for a waiver to sign before the event.
		div.flex-row
			div.half-col
				h2 How much does this cost?
				p Nothing! The Fashion / Tech Hackathon is free for all to attend. We'll provide your meals and swag for the weekend, and in some cases we'll even provide travel reimbursement based on miles traveled to the venue. For more information, please check out our 
					a(href='/assets/static/Hackathon Reimbursement Policy.pdf' target="_blank") Reimbursement Policy
					| .
			div.half-col
				h2 What are the prizes?
				p This year, we'll be handling prizes differently. Prizes will be awarded at the closing ceremony in the amount of $4000. 
					| Instead of first, second and third, we'll have four category prizes: 
					| Creation of a new technology, Advancement of an existing technology,
					| Use of Technology in Creating New Fashion Products, Tech
					| Advancement of the Retail Experience.
		div.flex-row
			div.half-col
				h2 What if I know nothing about tech?
				p You should still come! Hackathons are designed for you to learn, plus, our event celebrates makers of all kinds, including designers, merchandisers, sewers, and more.
			div.half-col
				h2 What are the rules?
				p Teams can consist of 1-4 students, and the entire project must be built at the event. You may use publicly available libraries, but besides that no lines of code should be written, and no seams should be sewn before the event.
				p Hackers must also adhere to 
					a(href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank") MLH's Code of Conduct
		div.flex-row
			.half-col
				h2 How do I get there?
				p Check out our 
					a(href='/assets/static/Getting to The Fashion Tech Hackathon.pdf' target="_blank") Travel Guide
					|  for information on how to get to here.

				p Fashion School,<br/>
					| Rockwell Hall, <br/>
					| 515 Hilltop Drive,<br/>
					| Kent, Ohio 44242 
			.half-col
				#map
				script.
					function initMap() {
						var fashionBuilding = {lat: 41.152698, lng: -81.349925};
						var map = new google.maps.Map(document.getElementById('map'), {
						  zoom: 16,
						  center: fashionBuilding,
						  disableDefaultUI: true
						});
						var marker = new google.maps.Marker({
						  position: fashionBuilding,
						  map: map
						});
					  }
				script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCixzGi82N7rep7J-R9msjMKvG1r7Mm0LM&callback=initMap")
		div.flex-row
			div.half-col
				h2 Will there be a place to sleep at the event?
				p We will have a classroom set up as a sleeping room throughout the weekend. You might want to bring a pillow, blanket, or sleeping bag to be more comfortable.
	.fabric.three