header
	//- a#mlh-trust-badge(style='max-width:100px;min-width:60px;position: absolute;right:4vw;top:0;width:10%;z-index:0;' href='https://mlh.io/seasons/na-2018/events?utm_source=na-2018&utm_medium=TrustBadge&utm_campaign=na-2018&utm_content=white'  target='_blank')
	//-		img(src='https://s3.amazonaws.com/logged-assets/trust-badge/2018/white.svg' alt='Major League Hacking 2018 Hackathon Season' style='width:100%')
	nav.hidden
		.nav-item.hidden
			a(href="/apply.html" target="_blank") Apply
		.nav-item.hidden
			a(href="#sponsor") Sponsor
		.nav-item.hidden
			a(href="#faq") FAQ
		.nav-item.hidden
			a(href="#schedule") Schedule
#logo
	img(src="assets/img/FashionTechLogoROUND_18.svg")
h1.header-text.date.away 
	| January 25-27 2019
	| Kent State University