.sponsor.content-container
	.content.flex-col
		h1 A Special Thanks to Our Sponsors
		.scroll-box
			p A partnership of the TechSytleLAB and LaunchNET at Kent State University, the Fashion/Tech Hackathon gathers students from many majors and curriculums from across the nation, and brings them together with mentors and sponsor companies over a 36 - hour period, to unlock creativity and apply breakthrough ideas that result in innovative concepts and products.
		a(href='/assets/static/Sponsorship-Packet-2017.pdf').btn View the Sponsorship Packet
		.content
//-			.flex-row
//-				.third-col
//-					a(href="https://www.bdmorganfdn.org/" target="_blank").fth-sponsor-link
//-						img(src="assets/img/logos/bdmf.png")
//-				.third-col
//-					a(href="http://skyhackksu.com" target="_blank").fth-sponsor-link
//-						img(src="assets/img/logos/DI_logo.png")
//-				.third-col
//-					a(href="http://stollamerica.com/" target="_blank").fth-sponsor-link
//-						img(src="assets/img/logos/STOLL.png")
//-			.flex-row
//-				.third-col
//-					a(href="https://ILCDover.com" target="_blank").fth-sponsor-link
//-						img(src="assets/img/logos/ILC_Dover_logo-idot.png")
//-				.third-col
//-					a(href="http://www.newbalance.com/" target="_blank").fth-sponsor-link
//-						img(src="assets/img/logos/NB_stacked.png")
//-				.third-col
//-					a(href="https://www.vidaro.com/" target="_blank").fth-sponsor-link
//-						img(src="assets/img/logos/EUCLID VIDARO.png")
//-			.flex-row
//-				.third-col
//-					a(href="https://unreasonablegroup.com/companies/thread/" target="_blank").fth-sponsor-link
//-						img(src="assets/img/logos/thread logo final mono_charcoal.png")
//-				.third-col
//-					a(href="http://www.digikey.com/" target="_blank").fth-sponsor-link
//-						img(src="assets/img/logos/DK_Electronics.png")
//-				.third-col
//-					a(href="http://www.misco.com/" target="_blank").fth-sponsor-link
//-						img(src="assets/img/logos/misco.png")
//-			.flex-row
//-				.third-col
//-					a(href="" target="_blank").fth-sponsor-link
//-						img(src="assets/img/logos/hays-logo.png")
//-				.third-col
//-					a(href="http://innovaknits.com/" target="_blank").fth-sponsor-link
//-						img(src="assets/img/logos/InnovaKnits.png")
//-				.third-col
//-					a(href="https://tinycircuits.com/" target="_blank").fth-sponsor-link
//-						img(src="assets/img/logos/tiny-circuits.png")
//-			.flex-row
//-				.third-col
//-					a(href="https://www.library.kent.edu/spark-innovation-studio" target="_blank").fth-sponsor-link
//-						img(src="assets/img/logos/spark.png")
//-				.third-col
//-					a(href="https://jumpstartinc.org" target="_blank").fth-sponsor-link
//-						img(src="assets/img/logos/jumpstart.png")
//-				.third-col
//-					a(href="http://www.tech-style-lab.org/" target="_blank").fth-sponsor-link
//-						img(src="assets/img/logos/TechStyleLAB-logo.png")
//-			.flex-row
//-				.third-col
//-					a(href="http://hacksu.com" target="_blank").fth-sponsor-link
//-						img(src="assets/img/logos/hacksu-logo.svg")
//-				.third-col
//-					a(href="https://www.kent.edu/launchnet" target="_blank").fth-sponsor-link
//-						img(src="assets/img/logos/LaunchNET_KSU_RGB_qsuaxt.png")
//-				.third-col
//-					a(href="https://www.kent.edu/fashion/fashion-student-organization" target="_blank").fth-sponsor-link
//-						img(src="assets/img/logos/fso.png")
//-			.flex-row
//-				.third-col
//-					a(href="https://www.kent.edu/artscollege" target="_blank").fth-sponsor-link
//-						img(src="assets/img/logos/arts.png")
//-				.third-col
//-					a(href="https://www.kent.edu/fashion" target="_blank").fth-sponsor-link
//-						img(src="assets/img/logos/KSUFashionschool.png")
//-				.third-col
//-					a(href="https://www.kent.edu/caed" target="_blank").fth-sponsor-link
//-						img(src="assets/img/logos/caed.png")

	.fabric.two