.fth-sponsor-link {
	text-decoration: none;
	border: none !important;
	height: 100%;

	img {
		width: 100%;
		height: auto;

		max-height: 100px;
		object-fit: contain;

		transition: transform 0.35s ease, filter 0.35s ease;

		filter: contrast(100%) grayscale(100%) brightness(50%);
	}

	&:hover img {
		transform: scale(1.1);
		filter: none;
	}
}



.sponsor .flex-row {
	width: 100%;
	justify-content: space-around;
	align-items: center;

	margin-top: 60px;
	&:first-of-type {
		margin-top: 0px;
	}

	.third-col {
		width: calc(33% - 30px);
		margin-left: 15px;
	}
}