doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
		meta(content='IE=edge, chrome=1', http-equiv='X-UA-Compatible')
		meta(name='description', content="Fashion Tech Hackathon 2018 - Kent State's Annual Fashion Hackathon" )
		meta(name='keywords', content='Hackathon, Hack, Kent, KSU, 2018, Fashion, Tech')
		meta(name='author', content='HacKSU')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(property='og:url', content='http://www.fashiontechhackathon.com/')
		meta(property='og:type', content='website')
		meta(property='og:title', content='Fashion Tech Hackathon 2018')
		meta(property='og:description', content="Kent State's annual hackathon, January 26-28th, 2018 at the Kent State Fashion School.")
		meta(property='og:image', content='http://www.fashiontechhackathon.com/assets/img/fthcover.png')
		meta(name='twitter:card', content='summary_large_image')
		meta(name='twitter:site', content='@fashtechhack')
		meta(name='twitter:creator', content='@_hacksu')
		meta(name='twitter:title', content='Fashion Tech Hackathon 2018')
		meta(name='twitter:description', content="Kent State's annual hackathon, January 26-28th, 2018 at the Kent State Fashion School.")
		meta(name='twitter:image', content='http://fashiontechhackathon/assets/img/fthcover.png')

		link(rel='apple-touch-icon', sizes='180x180', href='/assets/img/apple-touch-icon.png')
		link(rel='icon', type='image/png', href='/assets/img/favicon-32x32.png', sizes='32x32')
		link(rel='icon', type='image/png', href='/assets/img/favicon-16x16.png', sizes='16x16')
		link(rel='manifest', href='/assets/img/manifest.json')
		link(rel='mask-icon', href='/assets/img/safari-pinned-tab.svg', color='#5bbad5')
		link(rel='shortcut icon', href='/assets/img/favicon.ico')
		meta(name='msapplication-config', content='/assets/img/browserconfig.xml')
		meta(name='theme-color', content='#ffffff')

		block head_end
	
	body
		block content
		
		script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")

		block body_end